body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(pattern.jpg);
    margin: 0;
    padding: 0;

}

h1{
    color: #333333;
    font-size: 24px;
    text-align: center;
}

h3{
    color: #333333;
    font-size: 18px;
}

p{
    opacity: 75%;
    color: #333333;
    font-size: 16px;
}

a{
    text-decoration: none;
}

header{
    background-color: white;
    left: 0;
    padding: 16;
    position: sticky;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

nav{
    padding: 5px;
    top: 0;
    float: right;
  
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #333333;
}

nav a:hover{
    font-weight: bold;
    color: rgb(11, 172, 236);
}

nav li {
    display: inline;
    list-style-type: none;
    margin: 32px;
 }

section{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: fit-content;
    position: center;
    padding: 20px;
    margin-top: 16px;
    margin-bottom: 20px;
    margin-left: 15%;
    margin-right: 15%;
}
#hubungi{
    list-style-type: none;
}


#article-list {
    margin:20px;
    text-align: justify;
    padding: 8px;
    background-color: rgb(255, 255, 255);
}


input[type=text],textarea{
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

input[type=submit] {
    background-color: rgb(11, 172, 236);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 36px;
    margin-top: 16px;
    margin-right: 16px;
  }

input[type=submit]:hover {
    background-color: rgb(13, 13, 116);
  }



label {
    padding-left: 36px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: bold;
    display: inline-block;
  }
  
 
.kolom-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .kolom-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  .row a{
    text-decoration: none;
    color: #333333;
    opacity: 75%;
}

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

 .btn{
    background-color: rgb(11, 172, 236);
    border: none;
    color: white;
    padding: 12px 20px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) ;
    border-radius: 4px;
    margin: 6px;
    float: right;
    cursor: pointer;
}
.btn a{
    text-decoration: none;
    color: white;
}
.btn a:hover{
    color: white;
}
.btn:hover {
    background-color: rgb(13, 13, 116);
  }

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #131313;
    text-align: center;
    
}